---
layout: base
common-css:
  - "/assets/css/bootstrap-social.css"
  - "/assets/css/main.css"
  - /assets/css/tree.css
---

{% include header.html type="page_tree" %}

<button id="myBtn"><a href="#top" style="color: white">Back to Top</a></button>

<div id="tree-section">
<a href="{{ "Philosophy" | absolute_url }}">Philosophy Home</a>
<ul id="my_tree", class="my_tree">
  <li><span class="caret">Eastern Philosophy</span>
    <ul class="nested">
      <li><a href="{{ "Philosophy/eastern/fyl_history" | absolute_url }}">《中国哲学史新编》冯友兰</a></li>
      <li><a href="{{ "Philosophy/eastern/buddhism" | absolute_url }}">Buddhism</a></li>
      <li><a href="{{ "Philosophy/eastern/wdf" | absolute_url }}">Talks of 王德峰</a></li>
      <li><a href="{{ "Philosophy/eastern/fyl" | absolute_url }}">Talks of 冯友兰</a></li>
      <li><a href="{{ "Philosophy/eastern/alan_watts" | absolute_url }}">Talks of Alan Watts</a></li>
    </ul>
  </li>
  <li><span class="caret">Western Philosophy</span>
    <ul class="nested">
      <li><a href="{{ "Philosophy/western/greece" | absolute_url }}">Ancient Greece</a></li>
      <li><a href="{{ "Philosophy/western/stoicism" | absolute_url }}">Stoicism</a></li>
      <li><a href="{{ "Philosophy/western/timeline_modern" | absolute_url }}">Timeline(modern)</a></li>
      <li><a href="{{ "Philosophy/western/others" | absolute_url }}">Others</a></li>
      <li><span class="caret">Kant</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/kant/dxm_kant" | absolute_url }}">康德哲学演讲录（邓晓芒）</a></li>
          <li><a href="{{ "Philosophy/western/kant/dxm_pure_reasion" | absolute_url }}">纯粹理性批判演讲录（邓晓芒）</a></li>
          <li><a href="{{ "Philosophy/western/kant/dxm_partical" | absolute_url }}">实践理性批判研究课（邓晓芒）</a></li>
        </ul>
      </li>
      <li><span class="caret">Hegel</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/hegel/dxm_hegel" | absolute_url }}">黑格尔哲学演讲录（邓晓芒）</a></li>
        </ul>
      </li>
      <li><span class="caret">Marx</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/marx/wxm" | absolute_url }}">Lectures (吴晓明)</a></li>
          <li><a href="{{ "Philosophy/western/marx/wdf" | absolute_url }}">Lectures (王德峰)</a></li>
          <li><a href="{{ "Philosophy/western/marx/Vranicki" | absolute_url }}">Predrag Vranicki</a></li>
          <li><a href="{{ "Philosophy/western/marx/gaCohen" | absolute_url }}">G. A. Cohen</a></li>
          <li><a href="{{ "Philosophy/western/marx/others" | absolute_url }}">Others</a></li>
        </ul>
      </li>
      <li><span class="caret">Nietzsche</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/nietzsche/howtoread" | absolute_url }}">How to Read</a></li>
        </ul>
      </li>
      <li><span class="caret">Heidegger</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/heidegger/tiandao" | absolute_url }}">海德格尔思想与中国天道（张祥龙）</a></li>
        </ul>
      </li>
      <li><span class="caret">Existentialism</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/existentialism/irrational_man" | absolute_url }}">Irrational Man</a></li>
        </ul>
      </li>
      <li><span class="caret">Logic</span>
        <ul class="nested">
          <li><a href="{{ "Philosophy/western/logic/luoji" | absolute_url }}">逻辑学导论（熊明辉）</a></li>
          <li><a href="{{ "Philosophy/western/logic/logic" | absolute_url }}">Godel Proof</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><span class="caret">Art Philosophy</span>
    <ul class="nested">
      <li><a href="{{ "Philosophy/art/wdf_art" | absolute_url }}">《艺术哲学》(王德峰)</a></li>
      <li><a href="{{ "Philosophy/art/dxm_art" | absolute_url }}">西方美学史（邓晓芒）</a></li>
      <li><a href="{{ "Philosophy/art/zgq_art" | absolute_url }}">《谈美&谈美书简》(朱光潜)</a></li>
      <li><a href="{{ "Philosophy/art/philo_taine" | absolute_url }}">《艺术哲学》(Taine)</a></li>
    </ul>
  </li>
  <li><span class="caret">Political Philosophy</span>
    <ul class="nested">
      <li><a href="{{ "Philosophy/political/political_philo" | absolute_url }}">Political Philosophy</a></li>
      <li><a href="{{ "Philosophy/political/max_weber" | absolute_url }}">学术与政治 Max Weber</a></li>
      <li><a href="{{ "Philosophy/political/max_weber_concepts" | absolute_url }}">社会学概念 Max Weber</a></li>
    </ul>
  </li>
  <li><span class="caret">General/Introduction</span>
    <ul class="nested">
      <li><a href="{{ "Philosophy/general/wdf_philo_intro" | absolute_url }}">哲学导论（王德峰）</a></li>
      <li><a href="{{ "Philosophy/general/philo_hist" | absolute_url }}">哲学史方法论（邓晓芒）</a></li>
      <li><a href="{{ "Philosophy/general/pragmatism" | absolute_url }}">Pragmatism</a></li>
      <li><a href="{{ "Philosophy/general/yale_death" | absolute_url }}">Yale Philo 176 Death</a></li>
      <li><a href="{{ "Philosophy/general/lq_west" | absolute_url }}">西方现代思想讲义（刘擎）</a></li>
      <li><a href="{{ "Philosophy/general/bio" | absolute_url }}">Notes Biology</a></li>
    </ul>
  </li>
</ul>
</div>

<div class="container-md" role="main">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      {{ content }}
      {% include comments.html %}
    </div>
  </div>
</div>

<script>
var toggler = document.getElementsByClassName("caret");
var i;

function activate_togglers() {
  for (i = 0; i < toggler.length; i++) {
    toggler[i].parentElement.querySelector(".nested").classList.toggle("active");
    toggler[i].classList.toggle("caret-down");
  }
}

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>
