---
layout: base
common-css:
  - "/assets/css/bootstrap-social.css"
  - "/assets/css/main.css"
  - "/assets/css/tree.css"
---

{% include header.html type="page_tree" %}

<button id="myBtn"><a href="#top" style="color: white">Back to Top</a></button>

<div id="tree-section">
<a href="{{ "Study/PaperRead" | absolute_url }}">Paper Read Home</a>
<ul id="my_tree", class="my_tree">
  <li><a href="{{ "Study/PaperRead/lidar_mapping" | absolute_url }}">Lidar Mapping</a></li>
  <li><a href="{{ "Study/PaperRead/visual_mapping" | absolute_url }}">Visual Mapping And Localization</a></li>
  <li><a href="{{ "Study/PaperRead/sensor_fusion" | absolute_url }}">Sensor Fusion</a></li>
  <li><a href="{{ "Study/PaperRead/3d_reconstruction" | absolute_url }}">3D Reconstruction</a></li>
  <li><a href="{{ "Study/PaperRead/deeplearning/00index" | absolute_url }}">Deep Learning</a></li>
  <li><a href="{{ "Study/PaperRead/subjects" | absolute_url }}">Other Specific Subjects</a></li>
  <li><a href="{{ "Study/PaperRead/tum_ai" | absolute_url }}">TUM AI Lecture Series</a></li>
  <li><a href="{{ "Study/PaperRead/company/00index" | absolute_url }}">Company</a></li>
</ul>
</div>

<div class="container-md" role="main">
  <div class="row">
    <div class="offset-lg-1 col-lg-10 offset-lg-1">
      {{ content }}
      {% include comments.html %}
    </div>
  </div>
</div>

<script>
var toggler = document.getElementsByClassName("caret");
var i;

function activate_togglers() {
  for (i = 0; i < toggler.length; i++) {
    toggler[i].parentElement.querySelector(".nested").classList.toggle("active");
    toggler[i].classList.toggle("caret-down");
  }
}

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>

<script>
var chrown0 = document.getElementsByClassName("chrown0");
for (var i = 0; i < chrown0.length; i++) {
  chrown0[i].outerHTML = `<img src="/assets/img/paperread/chrown0.png" style="width:30px;height:auto;"/>`;
}
var chrown = document.getElementsByClassName("chrown");
for (var i = 0; i < chrown.length; i++) {
  chrown[i].outerHTML = `<img src="/assets/img/paperread/chrown.png" style="width:30px;height:auto;"/>`;
}
var thumbs = document.getElementsByClassName("thumbs");
for (var i = 0; i < thumbs.length; i++) {
  thumbs[i].outerHTML = `<img src="/assets/img/paperread/thumbs.png" style="width:30px;height:auto;"/>`;
}
var unhappy = document.getElementsByClassName("unhappy");
for (var i = 0; i < unhappy.length; i++) {
  unhappy[i].outerHTML = `<img src="/assets/img/paperread/unhappy.png" style="width:30px;height:auto;"/>`;
}
var question = document.getElementsByClassName("question");
for (var i = 0; i < question.length; i++) {
  question[i].outerHTML = `<img src="/assets/img/paperread/question.png" style="width:30px;height:auto;"/>`;
}

container = document.getElementById("pie_container");
if (container != null) {
  // make the pie chart
  container.outerHTML = `
    <pre class="mermaid">
    pie title papers
        "very good" : ${chrown0.length}
        "good" : ${chrown.length}
        "thumbs" : ${thumbs.length}
        "unhappy" : ${unhappy.length}
        "question" : ${question.length}
    </pre>
  `
}
</script>
