---
layout: base
---

{% include header.html type="post" %}

<div class="container-md">
  <div class="row">
    <!-- Left Sidebar (TOC) -->
    <aside class="d-none d-lg-block">
      <nav id="toc" class="toc"></nav>
    </aside>

    <div class="offset-lg-1 col-lg-10 offset-lg-1">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      <!-- Main Content -->
      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}


      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}


      <!-- Related posts start here! -->
      <!-- {%- if site.related_posts -%}
        {% if site.related_posts.size >= 1 %}
        {% if page.language == 'chinese' %}
        <h1 id="posts-label">相关文章</h1>
        {% else %}
        <h1 id="posts-label">You may also like</h1>
        {% endif %}
        <div class = "related-posts-box">
        <ul>
          {% for related_post in site.related_posts limit: 5 %}
          <li><a href="{{ related_post.url | relative_url  }}">{{ related_post.title | escape}}</a></li>
          {% endfor %}
        </ul>
        </div>
        {% endif %}
      {% endif %} -->

      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
      {% include comments.html %}
    </div>
  </div>
</div>
